<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.zhengru.sso.unified.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="top.zhengru.sso.unified.entity.User">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
            <result property="cardNo" column="card_no" jdbcType="VARCHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="lastLoginTime" column="last_login_time" jdbcType="TIMESTAMP"/>
            <result property="loginCount" column="login_count" jdbcType="INTEGER"/>
            <result property="isEnable" column="is_enable" jdbcType="INTEGER"/>
            <result property="createBy" column="create_by" jdbcType="BIGINT"/>
            <result property="updateBy" column="update_by" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,phone,
        card_no,email,username,
        password,last_login_time,login_count,
        is_enable,create_by,update_by,
        create_time,update_time,is_deleted
    </sql>

    <resultMap id="RoleInfoVoMap" type="top.zhengru.sso.unified.vo.RoleInfoVO">
        <id property="roleName" column="roleName"/>
        <result property="roleCode" column="roleCode"/>
        <result property="rolePid" column="rolePid"/>
        <collection property="permInfoVOList" ofType="top.zhengru.sso.unified.vo.PermInfoVO">
            <id property="permission" column="permission"/>
            <result property="permName" column="permName"/>
            <result property="permValue" column="permValue"/>
        </collection>
    </resultMap>

    <select id="queryPermByUserId" resultMap="RoleInfoVoMap">
        SELECT
            r.role_name AS roleName,
            r.code AS roleCode,
            r.pid AS rolePid,
            p.permission,
            p.name AS permName,
            p.value AS permValue
        FROM
            sys_user_role ur
                LEFT JOIN sys_role r ON r.id = ur.role_id
                LEFT JOIN sys_role_perm rp ON r.id = rp.role_id
                LEFT JOIN sys_permission p ON p.id = rp.permission_id
        WHERE
            ur.user_id = #{userId}
          AND ur.is_deleted = 0
          AND r.is_deleted = 0
          AND rp.is_deleted = 0
          AND p.is_deleted = 0
          AND r.status = 1
          AND p.status = 1;
    </select>
</mapper>
